
    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url(<%= asset_path 'photo-1422479516648-9b1f0b6e8da8.jpg'%>);"></div>
                <div class="carousel-caption">
                    <h2>The blog of your dreams</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(<%= asset_path 'photo-1415639636295-61ae91a98b39.jpg'%>);"></div>
                <div class="carousel-caption">
                    <h2>Done in Ruby 2.2.0, Rails 4.2.0 and ember js</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(<%= asset_path 'IbJK5etSN6dH6jAF4U0U_DSC_0280-1.jpg'%>)"></div>
                <div class="carousel-caption">
                    <h2>Self traning and educational reasons in Growth Acceleration Partners.</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url( <%= asset_path 'OQx70jjBSLOMI5ackhxm_urbex-ppc-030.jpg'%>);"></div>
                <div class="carousel-caption">
                    <h2>Done by Randall a.k.a 'Randy' Valenciano.</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="opacity: .4;">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" style="opacity: .4;">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- /.container -->


    <script>
      $(function(){
        $('#myCarousel').carousel();
      });
    </script>